@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    
}

.input {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    top: 20px;
    width: 300px;
}

#button {
    position: absolute; 
    left: 90%;
    top: 24%;
    width: 45px;
    height: 42px;
    border: none;
    background: #a5c8f7;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    outline: none;
    font: small;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
  }
    
#input {
    font-style: oblique;
    width: 100%;
    height: 36px;
    padding-left: 10px;
    border: 2px solid #a5c8f7;
    border-radius: 5px;
    outline: none;
    background: #dbdbdb;
    color: black;
  }


  #wrapper {
    position: relative;
    top: 26%;
    padding: 127px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

p {
    color: #dbdbdb;
    display: block;
    margin-left: 15px;
    max-width: 220px;
    font-family: cursive;
    font-size: 15px;
}

img{
    border: 4px solid transparent;
    
}

img:hover{
    border-radius: 5px;
    border-color: #81b5fa;
    transition: 1s;
    transform: translate(5px, -5px); 
}

.inside{
    padding: 5px;
}